
___
# COMP1804 2.02 - Python Basics

These notes walk you through whatâ€™s diffenernt about Python compared to other languages. Python basics are presented  by looking at real code examples.

# Whitespace is Important

In [ ]:
listOfNumbers = [8, 2, 3, 7, 5, 6]

for number in listOfNumbers:
    print(number, end="")
    if (number % 2 == 0):
        print(" is even number")
    else:
        print(" is odd")
        
print ("All done.")

# Importing Modules

In [ ]:
import numpy as np

A = np.random.normal(25.0, 50.0, 5)
print (A)

# Numbers and more in Python!

Covers numbers in Python and how to use them:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

## Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this module we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:


<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

### Basic Arithmetic

In [ ]:
# this is a comment:  Addition
2+1

In [ ]:
# Subtraction
2-1

In [ ]:
# Multiplication
2*2

In [ ]:
# Division
3/2

In [ ]:
# Floor Division
7//4

**Whoa! What just happened? Last time I checked, 7 divided by 4 equals 1.75 not 1!**

The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

**So what if we just want the remainder after division?**

In [ ]:
# Modulo
7%4

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

### Arithmetic continued

In [ ]:
# Powers
2**3

In [ ]:
# Can also do roots this way
4**0.5

In [ ]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

In [ ]:
# Can use parentheses to specify orders
(2+10) * (10+3)

## Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [ ]:
# Let's create an object called "a" and assign it the number 5
a = 5
a

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [ ]:
# Adding the objects
a+a

What happens on reassignment? Will Python let us write it over?

In [30]:
# Reassignment
a = 20

In [ ]:
# Check
a

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [ ]:
# Check
a

In [32]:
# Use A to redefine A
a = a + a

In [ ]:
# Check 
a

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [ ]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [ ]:
# Show my taxes!
my_taxes

So what have we learned? We learned some of the basics of numbers in Python. We also learned how to do arithmetic and use Python as a basic calculator. We then wrapped it up with learning about Variable Assignment in Python.

Up next we'll learn about Strings!

# Variable Assignment

## Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter L), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [ ]:
my_dogs = 2
my_dogs

In [ ]:
my_dogs = ['Sammy', 'Frankie']
my_dogs

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

## Assigning Variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [ ]:
a = 5
a

Here we assigned the integer object `5` to the variable name `a`.<br>Let's assign `a` to something else:

In [ ]:
a = 10
a

You can now use `a` in place of the number `10`:

In [ ]:
a + a
a

## Reassigning Variables
Python lets you reassign variables with a reference to the same object.

In [ ]:
a = a + 10
a

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [ ]:
a += 10
a

In [ ]:
a *= 2
a

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [ ]:
type(a)

In [ ]:
a = (1,2)
type(a)

## Simple Exercise
This shows how variables make calculations more readable and easier to follow.

In [ ]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate
my_taxes

Great! You should now understand the basics of variable assignment and reassignment in Python.

# Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello"' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

Here, we'll look at the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [ ]:
# Single word
'hello'

In [ ]:
# Entire phrase 
'This is also a string'

In [ ]:
# We can also use double quote
"String built with double quotes"

In [ ]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [ ]:
"Now I'm ready to use the single quotes inside a string!"

Now let's learn about printing strings!

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [ ]:
# We can simply declare a string
'Hello World'

In [ ]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

We can use a print statement to print a string.

In [ ]:
print('Hello World 1')
print('Hello World 2')
print('\n')  # Use \n to print a new line
print('See what I mean?')

## String Basics

We can also use a function called len() to check the length of a string!

In [ ]:
len('Hello World')

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [44]:
# Assign s as a string
s = 'Hello World'

In [ ]:
#Check
s

In [ ]:
# Print the object
print(s)

Let's start indexing!

In [ ]:
# Show first element (in this case a letter)
s[0]

In [ ]:
s[1]

In [ ]:
s[2]

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [ ]:
# Grab everything from the first term all the way to the length of s which is len(s)
s[1:]

In [ ]:
# Note that there is no change to the original s
s

In [ ]:
# Grab everything UP TO the 3rd index
s[:3]

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [ ]:
#Everything
s[1:4]

We can also use negative indexing to go backwards.

In [ ]:
# Last letter (one index behind 0 so it loops back around)
s[-2]

In [ ]:
# Grab everything but the last letter
s[:-1]

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [ ]:
# Grab everything, but go in steps size of 1
s[::1]

In [ ]:
# Grab everything, but go in step sizes of 2
s[1::2]

In [ ]:
# We can use this to print a string backwards
s[::-1]

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [ ]:
s

In [ ]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [ ]:
s

In [ ]:
# Concatenate strings!
s + ' concatenate me!'

In [ ]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [ ]:
print(s)

In [ ]:
s

We can use the multiplication symbol to create repetition!

In [ ]:
letter = 'ztt '
10*letter

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [ ]:
s

In [ ]:
# Upper Case a string
s.upper()

In [ ]:
# Lower case
s.lower()

In [ ]:
# Split a string by blank space (this is the default)
s.split()

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

There are many more methods than the ones covered here. Visit the Advanced String section to find out more!

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [ ]:
'Insert another {} string with curly brackets: {}'.format('The inserted string',"the 2nd str")

We will revisit this string formatting topic in later sections when we are building our projects!

# Lists

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8]
print(len(x))

In [ ]:
x[:3]

In [ ]:
x[3:]

In [ ]:
x[-2:]

In [ ]:
x.extend([7,8])
x

In [ ]:
x.append(9)
x

In [ ]:
y = [10, 11, 12]
listOfLists = [x, y]
listOfLists

In [ ]:
listOfLists[1][0]

In [ ]:
z = [3, 2, 1]
z.sort()
z

In [ ]:
z.sort(reverse=True)
z

# Tuples

In [ ]:
#Tuples are just immutable lists. Use () instead of []
x = (1, 2, 3)
len(x)

In [ ]:
y = (4, 5, 6)
y[2]

In [ ]:
listOfTuples = [x, y]
listOfTuples

In [ ]:
(age, income) = "32,120000".split(',')
print(age)
print(income)

# Dictionaries

We've looked at *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. It is basically similar to hash tables or maps in other languages.

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and an associated value. That value can be almost any Python object.

## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

# Call values by their key
my_dict['key1']

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Let's call items from the dictionary
my_dict['key3']

In [ ]:
# Can call an index on that value
my_dict['key2']

In [ ]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

We can affect the values of a key as well. For instance:

In [ ]:
my_dict['key1']

In [ ]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] + 103

In [ ]:
#Check
my_dict['key1']

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [ ]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123

#check
my_dict['key1']

## Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [ ]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

Wow! That's a quite the inception of dictionaries! Let's see how we can grab that value:

In [ ]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

## A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys 
d.keys()

In [ ]:
# Method to grab all values
d.values()

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

## Another way for creating dictionaries

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [ ]:
# Like a map or hash table in other languages
captains = {}
captains["Enterprise"] = "Kirk"
captains["Enterprise D"] = "Picard"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

print(captains["Voyager"])

In [ ]:
print(captains.get("Enterprise"))

In [ ]:
print(captains.get("NX-01"))

In [ ]:
for ship in captains:
    print(ship + ": " + captains[ship])

# Functions

In [ ]:
def SquareIt(x):
    return x * x

print(SquareIt(2))

In [ ]:
#You can pass functions around as parameters
def DoSomething(f, x):
    return f(x)

print(DoSomething(SquareIt, 3))

In [ ]:
#Lambda functions let you inline simple functions
print(DoSomething(lambda x: SquareIt(x) * x * x, 3))

#Maps
The map() function applies a given function to each item of an iterable (list, tuple etc.) and returns a list of the results. The returned value from map() (map object) then can be passed to functions like list() (to create a list), set() (to create a set) and so on.

In [ ]:
def calculateSquare(n):
  return n*n

numbers = (1, 2, 3, 4)
result = map(calculateSquare, numbers)
print(result)

# converting map object to a list type
numbersSquare = list(result)
print(numbersSquare)

# Boolean Expressions

In [ ]:
print(1 == 3)

In [ ]:
print(True or False)

In [ ]:
print(1 is 3)

In [ ]:
if 1 is 3:
    print("How did that happen?")
elif 1 > 3:
    print("Yikes")
else:
    print("All is well with the world")

# Looping

In [ ]:
for x in range(10):
    print(x, end="=")

In [ ]:
for x in range(10):
    if x is 1:
        continue
    if (x > 5):
        break 
    print(x , end=" ")

In [ ]:
x = 0
while (x < 10):
  print(x, end=" ")
  x += 1

#Activity

Write some code that creates a list of integers, loops through each element of the list, and only prints out even numbers!

In [ ]:
for x in range(10):
  if (x%2== 0):
    print(x)